{% extends 'base.html.twig' %}

{% block title %}Hello PresentationController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
 Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eaque laboriosam quod temporibus consectetur, tenetur incidunt et cupiditate, labore molestiae, blanditiis a debitis eos. Sunt, optio. Odit facilis dolorem magnam.
 Nam deserunt neque, quod dignissimos distinctio rerum at error aut culpa esse suscipit quo vitae, non facere blanditiis pariatur corporis iste laboriosam! Labore, aspernatur explicabo repellat id amet consequuntur sapiente!
 Cumque laborum nemo magnam sapiente magni molestias ipsam ex eos suscipit. Quia ipsum deserunt maxime repellendus eius maiores nihil ipsam sapiente et laboriosam? Dolores, fugiat! Rerum accusamus esse dolorum error?
 Et qui cum magni temporibus, alias quaerat eveniet consequuntur nam aliquid aperiam repudiandae ullam rerum, esse deleniti quidem nisi voluptatem. Quibusdam id obcaecati eos neque aspernatur eum similique magni et?
 Pariatur, asperiores eum aliquid nisi hic deleniti exercitationem voluptate quam laboriosam natus, mollitia aperiam minima accusamus sint esse soluta unde voluptas alias quo veritatis molestias adipisci eveniet dicta sequi? Nihil?
 A voluptates assumenda ratione quia aliquam, numquam amet odio, ullam alias tempore itaque, fugit ad. Maxime perspiciatis eveniet asperiores ex. Inventore suscipit iure reiciendis nihil quibusdam eos omnis quas a.
 Doloribus quo assumenda pariatur ipsum amet cum excepturi veritatis, suscipit culpa quidem accusantium nulla sequi magnam, odit, rerum neque nostrum blanditiis libero error? Maiores quas neque doloremque tempora sunt nulla.
 Nihil exercitationem assumenda ipsa dolorem. Unde cum neque quia hic amet molestiae iusto. Architecto molestias unde at ex quia error, autem, non placeat fuga, saepe aliquam earum eligendi necessitatibus corporis?
 Odio commodi praesentium consequuntur omnis similique blanditiis fugiat nihil sunt cupiditate. Doloremque inventore rerum optio, possimus fuga sunt! Cupiditate fuga voluptatum at facilis distinctio harum sapiente error voluptates pariatur voluptate?
 Modi deserunt esse ratione consequatur itaque mollitia cupiditate veniam aliquid repudiandae. Praesentium voluptate eveniet eaque! Veniam ab maiores nemo, perspiciatis repudiandae adipisci, vero iste a labore ipsam velit porro enim.
 Autem nam explicabo quos maiores dicta dolorem nesciunt obcaecati nostrum, asperiores reprehenderit minus commodi consequuntur quod itaque eaque soluta necessitatibus voluptatem ducimus. Ullam ducimus mollitia saepe exercitationem consectetur. Quia, sapiente?
 Alias eos, delectus, ducimus laboriosam sunt hic nam temporibus obcaecati nisi ipsa eaque ad modi tempore totam expedita velit molestias? Iste, rerum optio autem eos magnam qui quas inventore amet!
 Earum, beatae debitis! Fugiat expedita, dolores repellendus magnam porro omnis perferendis officia dignissimos doloribus temporibus odit commodi similique dicta maiores, nemo excepturi nisi, ipsa libero neque facilis? Temporibus, molestiae est.
 Fuga quo dicta similique, fugit, distinctio quaerat ex nulla totam molestiae eos sapiente! Consequuntur blanditiis delectus sed repudiandae. Saepe beatae nihil optio officiis nulla suscipit inventore expedita hic iure omnis!
 Aut commodi repudiandae voluptate. Labore porro repellendus exercitationem? Architecto labore porro voluptatum dignissimos nobis ipsa impedit cupiditate, nostrum facere magni aspernatur ad deserunt omnis eligendi veniam quasi illo saepe provident!
</div>
{% endblock %}
