html,
body {
    font-family: "Open Sans", sans-serif;
    height: 100%;
}

body {
    background: #ffffff;
    height: 100%;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#bouton-detail {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    background: #fff;
    color: #767676;
    border: 1px solid #e8e8e8;
    top: 20px;
    right: 15px;
    padding: 0 16px;
    line-height: 37px;
    height: 40px;
}

#evenement {
    border: 1px solid rgb(168, 167, 167);
}

.even-date {
    background: #f7f7f7;
    padding: 12px 14px 8px;
    margin-bottom: 12px;
    vertical-align: baseline;
}

.even-adresse {
    background: #f7f7f7;
    padding: 12px 14px 8px;
    margin-bottom: 12px;
    vertical-align: baseline;
}

.even-prix {
    background: #f7f7f7;
    padding: 12px 14px 8px;
    margin-bottom: 12px;
    vertical-align: baseline;
}

#even-border {
    border-left: 1px solid rgb(168, 167, 167);
    padding: 20px 30px;
}

.bouton-detail {
    border-top: 1px solid rgb(168, 167, 167);
}

.detail-even {
    border: 1px solid rgb(168, 167, 167);
    margin-bottom: 30px;
    padding: 20px 30px;
}

.detail-date {
    background: #f7f7f7;
    padding: 12px 14px 8px;
    margin-bottom: 12px;
    vertical-align: baseline;
    // text-align: center;
}

.detail-adresse {
    background: #f7f7f7;
    padding: 12px 14px 8px;
    margin-bottom: 12px;
    vertical-align: baseline;
}

.detail-prix {
    background: #f7f7f7;
    padding: 12px 14px 8px;
    margin-bottom: 12px;
    vertical-align: baseline;
}

@font-face {
    font-family: "Seagram";
    src: url("police/Seagram_tfb.ttf");
}

.navbar,
.navbar-expand-lg,
.navbar-light,
#navstyle {
    font-family: "Seagram", serif;
    font-size: 25px;
    background: radial-gradient(rgb(204, 174, 74), rgba(219, 186, 114, 0.74));
    justify-content: center;
}

#footerstyle {
    font-family: "Seagram", serif;
    font-size: 25px;
    background: radial-gradient(rgb(204, 174, 74), rgba(219, 186, 114, 0.74));
    justify-content: center;
}

.footer-basic {
    padding: 40px 0;
    background-color: #ffffff;
    color: #4b4c4d;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    // color: #aaa;
    margin-bottom: 0;
}